<?xml version="1.0"?>
<model>
    <name>CER_no_cameras</name>
    <version>0.2</version>
    <sdf version='1.6'>cer.sdf</sdf>

    <author>
        <name>Valentina Vasco</name>
        <email>valentina.vasco@iit.it</email>
    </author>
    
    <description>
        This model is based on CER .sdf and has been manually edited to remove robot cameras.
    </description>
</model>
