<?xml version="1.0"?>
<model>
    <name>CER_no_arms</name>

    <version>0.2</version>
    <sdf version='1.6'>cer.sdf</sdf>

    <author>
        <name>Marco Randazzo</name>
        <email>marco.randazzo@iit.it</email>
    </author>
    
    <author>
        <name>Luca Fiorio</name>
        <email>luca.fiorio@iit.it</email>
    </author>

    <author>
        <name>Daniele E. Domenichelli</name>
        <email>daniele.domenichelli@iit.it</email>
    </author>

    <description>
        This model, based on CER .sdf, has been manudally edited to remove robot arms.
        This great simplification allows to run tasks in which arms are not required (i.e. navigation) on low-performance machines.
    </description>
</model>
