<?xml version='1.0'?>
<database>
<name>CER Gazebo Database</name>
<license>Creative Commons Attribution 3.0 Unported</license>
<models>
<uri>file://cer</uri>
<uri>file://cer_no_arms</uri>
<uri>file://cer_no_collisions</uri>
<uri>file://cer_no_collisions_20m</uri>
<uri>file://cer_base_only</uri>
<uri>file://cer_base_only360</uri>
<uri>file://cart</uri>
</models>
</database>
