<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE robot PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">
<device xmlns:xi="http://www.w3.org/2001/XInclude" name="cbw_remapper" type="controlboardremapper">
    <paramlist name="networks">
        <elem name="torso">( 0 3 0 3 )</elem>
        <elem name="mobile_base">( 20 21 0 1 )</elem>
        <elem name="left_upper_arm_and_pronosup">( 4 8 0 4 )</elem>
        <elem name="left_wrist">( 9 11 0 2 )</elem>
        <elem name="right_upper_arm_and_pronosup">( 12 16 0 4 )</elem>
        <elem name="right_wrist">( 17 19 0 2 )</elem>
        <elem name="head">( 22 23 0 1 )</elem>
        <elem name="left_hand">( 24 27 0 3 )</elem>
        <elem name="right_hand">( 28 31 0 3 )</elem>
    </paramlist>
    <param name="period"> 0.010 </param>
    <param name="joints"> 32 </param>
    <action phase="startup" level="5" type="attach">
        <paramlist name="networks">
            <elem name="torso">torso_device</elem>
            <elem name="mobile_base"> mobile_base_device </elem>
            <elem name="left_upper_arm_and_pronosup"> left_upper_arm_and_pronosup_device </elem>
            <elem name="left_wrist"> left_wrist_device </elem>
            <elem name="right_upper_arm_and_pronosup"> right_upper_arm_and_pronosup_device </elem>
            <elem name="right_wrist"> right_wrist_device </elem>
            <elem name="head"> head_device </elem>
            <elem name="left_hand"> left_hand_device </elem>
            <elem name="right_hand"> right_hand_device </elem>
        </paramlist>
    </action>
    <action phase="shutdown" level="5" type="detach" />
</device>
