<?xml version="1.0"?>
<model>
    <name>cer_no_collisions_20m</name>

    <version>0.1</version>
    <sdf version='1.6'>cer.sdf</sdf>

    <author>
        <name>Konstantinos Karapas</name>
        <email>konstantinos.karapas@iit.it</email>
    </author>

    <description>
        Copy of cer_no_collisions, with modified laser to the RpLidar3 specifications.
        Those are 20m range and double the resolution.
    </description>
</model>
