<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE robot PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">

<device xmlns:xi="http://www.w3.org/2001/XInclude" name="cbremapper_cer_left_arm" type="controlboardremapper">
    <paramlist name="networks">
        <elem name="left_upper_arm_and_pronosup">( 0 4 0 4 )</elem>
        <elem name="left_wrist">( 5 7 0 2 )</elem>
    </paramlist>
    <param name="period"> 0.010 </param>
    <param name="joints"> 8 </param>
    <action phase="startup" level="5" type="attach">
        <paramlist name="networks">
            <elem name="left_upper_arm_and_pronosup">left_upper_arm_and_pronosup_device</elem>
            <elem name="left_wrist">left_wrist_device</elem>
        </paramlist>
    </action>
    <action phase="shutdown" level="5" type="detach" />
</device>
