<?xml version="1.0"?>
<model>
    <name>CER_320x240</name>

    <version>0.2</version>
    <sdf version='1.6'>cer.sdf</sdf>

    <author>
        <name>Valentina Vascp</name>
        <email>valentina.vasco@iit.it</email>
    </author>
    
    <description>
        This model, based on CER .sdf, has been manudally edited to load cameras with a resolution of 320x240 px.
    </description>
</model>
