<?xml version="1.0"?>

<model>
    <name>CER_base_only_lidar360</name>

    <version>0.2</version>
    <sdf version='1.6'>cer360.sdf</sdf>

    <author>
        <name>Marco Randazzo</name>
        <email>marco.randazzo@iit.it</email>
    </author>
    
    <description>
        This model, based on CER .sdf, has been manually edited, removing everything except the moving base.
        The lidar device included in this model is a 360 lidar, which is not the one used in the real model.
        This model is for lidar debugging puroposes.
    </description>
</model>
