<?xml version='1.0'?>
<database>
<name>CER Gazebo Database</name>
<license>Creative Commons Attribution 3.0 Unported</license>
<models>
<uri>file://cer</uri>
<uri>file://cer.fixed</uri>
<uri>file://cer_low_res</uri>
<uri>file://cer.v0.1</uri>
<uri>file://cer.v0.1.fixed</uri>
<uri>file://cer.v0.1.fake_arms</uri>
</models>
</database>
