<?xml version="1.0"?>
<model>
    <name>CER_no_collisions_ros2</name>

    <version>0.2</version>
    <sdf version='1.6'>cer.sdf</sdf>

    <author>
        <name>Marco Randazzo</name>
        <email>marco.randazzo@iit.it</email>
    </author>

    <description>
        Model for the CER robot. Removed body collisions to reduce computational load.
		Wheels and base collisions maintained to perform navigation tasks.
    </description>
</model>
