<?xml version="1.0"?>
<model>
    <name>CER (current) Fixed</name>

    <version>0.2</version>
    <sdf version='1.5'>cer_fixed.sdf</sdf>

    <author>
        <name>Luca Fiorio</name>
        <email>luca.fiorio@iit.it</email>
    </author>

    <author>
        <name>Daniele E. Domenichelli</name>
        <email>daniele.domenichelli@iit.it</email>
    </author>

    <description>
        Model for the CER robot.
    </description>
</model>
