<?xml version="1.0"?>
<model>
  <name>cart</name>
  <version>1.0</version>
  <sdf version='1.0'>cart.sdf</sdf>

  <author>
   <name>Marco Randazzo</name>
   <email>marco.randazzo@iit.it</email>
  </author>

  <description>
    A small wheeled-table which can be brought around by R1
  </description>
</model>
